game_factory/node_modules/

# Ignorar todo dentro de data/
api-geogf/data/*

# Excepciones: permitir bin, scripts y template
!api-geogf/data/bin/
!api-geogf/data/scripts/
!api-geogf/data/template/

# Asegurar que el contenido de las carpetas permitidas también se suba
!api-geogf/data/bin/**
!api-geogf/data/scripts/**
!api-geogf/data/template/**

# No se sube a Github ningun proyecto, excepto el de jb_uach y todo en su interior
pwa_geogf/*
!pwa_geogf/jb_uach/
!pwa_geogf/jb_uach/**